<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="hp-bg">
    @*<div class="navbar navbar-inverse navbar-fixed-top nav-br">
            <div class="container">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="vlt tx-color">
                        @Html.ActionLink("Vlad-Tehnologi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>

                </div>
                <div class="navbar-collapse collapse tx-color">
                    <ul class="nav navbar-nav">
                        <li style="color:white;">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Groups", "GetAllGroups", "Group")</li>

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <nav class="navbar navbar-expand-lg nav-br text-white">
        @Html.ActionLink("Vlad-Technology", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-white" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active ">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link text-white" })
                </li>
                <li class="nav-item ">
                    @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link text-white" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link text-white" })
                </li>

                @*<li class="nav-item">
            @Html.ActionLink("Groups", "GetAllGroups", "Group", null, new { @class = "nav-link text-white" })
        </li>*@
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vlad-Tehnologi Aplication</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
